* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: arial,Arial, Helvetica, sans-serif;
}

body {
    background: rgba(254, 252, 252, 0.243);
}

.container {
    background: #fff;
    max-width: 1064px;
    margin: 0 auto;
}

.titleGeneral h1 {
    padding-left: 25px;
    color: #33A1E0;
}
/* criando header */
    header {
        background: #77BEF0;
        /* Altura */
        height: 130px;
        border-bottom: 3px solid #33A1E0;
        /* Flexbox */
        display: flex;
        align-items: center;
    }

    header img {
        margin-right: 20px;
        margin-left: 20px;
    }

    header h2 {
        color: white;
        text-transform: uppercase;
        font-size: 30px;
    }
    /* MENU DO SITE */
    .menu {
        display: flex;
        justify-content: space-around ;
        align-items: center;
        background-color: #33A1E0 ;
    }

    .menu li {
        
        /* ESPAÇAMENTO */
        padding: 18px;
    }

    .menu li a {
        font-size: 23px;
        text-decoration: none;
        color: white;
        text-align: center;
        padding: 18px;
    }

    .menu li a :hover {
        text-decoration: underline;
    }

    /* BANNER */
    .banner {
        max-width: 1000px;
        height: 250px;
        border: 1px solid #77BEF0;
        border-radius: 20px;
        margin: 20px;
        /* CORTAR IMAGEM */
        overflow: hidden;
    }

    /* CONTENT HOME */
    .content-box {
        margin: 20px;
        /* FLEXBOX */
        display: flex;
    }

    .box {
        border: 1px solid #77BEF0;
        max-width: 300px;
        border-radius: 10px;
         /* CORTAR IMAGEM */
        overflow: hidden;
        margin: 10px 35px 20px 15px;
        /* SOMBRA */
        box-shadow: 4px 3px 10px #9AA6B2;
    }

    .box img {
        border-bottom: 1px solid #9AA6B2;
        box-shadow: 0px 0px 15px 0px #9AA6B2
    }

    .box p {
        padding: 10px;
        color: rgb(89, 103, 120);
    }

    .box a {
        padding: 0 0 10px 10px;
        display: block;
        color:#4d75e4;
        text-decoration: none;
        /* NEGRITO */
        font-weight: bold;
    }

    .box a:hover {
        text-decoration: underline;

    }

    .promocao {
        /* flexbox */
        display: flex;
        justify-content: center ;
    }

    .promocao img {
         max-width: 800px;
        height: 180px;
        border: 1px solid #77BEF0;
        border-radius: 20px;
        margin: 20px;
        /* CORTAR IMAGEM */
        overflow: hidden;
    }