* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background: rgba(254, 252, 252, 0.243);
}

.container {
    background: #fff;
    max-width: 1064px;
    margin: 0 auto;
}

/* criando header */
    header {
        background: #77BEF0;
        /* Altura */
        height: 130px;
        border-bottom: 3px solid #33A1E0;
        /* Flexbox */
        display: flex;
        align-items: center;
    }

    header img {
        margin-right: 20px;
        margin-left: 20px;
    }

    header h2 {
        color: white;
        text-transform: uppercase;
        font-size: 30px;
    }
    /* MENU DO SITE */
    .menu {
        display: flex;
        justify-content: space-around ;
        align-items: center;
        background-color: #33A1E0 ;
    }

    .menu li {
        
        /* ESPAÇAMENTO */
        padding: 18px;
    }

    .menu li a {
        font-size: 23px;
        text-decoration: none;
        color: white;
        font-family: arial,Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 18px;
    }

    .menu li a :hover {
        text-decoration: underline;
    }

    /* BANNER */
    .banner {
        max-width: 1000px;
        height: 250px;
        border: 1px solid #33A1E0;
        border-radius: 25px;
        margin: 20px;
        /* CORTAR IMAGEM */
        overflow: hidden;

    }