body {
    background-image: url("https://wallpapers.com/images/hd/funny-chihuahua-birthday-picture-711biqqwt50nii85.jpg");
    background-size: cover;
}

.card h1,h2 {
    font-size: 70px;
    color: #fff;
    text-shadow:
    4px 4px 6px #000000,
    0 0 1em rgb(252, 2, 2),
    0 0 0.2em rgb(255, 255, 255);;
}

.gifs {
    padding-top: 7%;
    height: 300px;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.gifs img {
    border-radius: 8px;
    filter: drop-shadow(0.5rem 0.5rem 0.9em rgb(230, 167, 32));
}
