* {
    margin: 0;
    padding: 0;
}

body {
   background-image: url("./img/projetox.jpg");
   background-size: 87%;
    
}

/* Formulário */
.controle input {
    border-radius: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px;
}

.controle label {
    margin-top: 70px;
    color: #fffcfc;
    display: block;
}

.mensagem {
    color: aliceblue blue;
}

#result {
    color: rgb(167, 21, 44);
}

#verifica-idade {
    background: #3c327a;
    border: 1px solid white;
    border-radius: 4px;
    color: #fff;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.9s;
}

#verifica-idade:hover {
    transition: 1.8s;
    background-color: #990505;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
}

span {
    color: #fff;
}

.container {
    display: grid;
    width: 100%;
    gap: 20px; /* espaçamento */
    grid-template-areas:
        "one . form"
        "three . two";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.container > form {
    grid-area: form;
    margin-top: 50px;
    padding-right: 34%;
}

/* Imagens */
.container > .one {
    grid-area: one;
    filter: brightness(0%)
    
}

.one:hover {
    filter: brightness(100%);
    transition: 2s;
    
}

.container > #two {
    grid-area: two;
    filter: brightness(0%);
    display: none;
}

#two:hover {
    filter: brightness(100%);
    transition: 2s;
    
}

.container > .three {
    grid-area: three;
    filter: brightness(0%);
}

.three:hover {
    filter: brightness(100%);
    transition: 2s;
    
}

.container img {
    width: 75%;
    height: auto;
    border-radius: 4px;
}