body {
    background: rgb(131, 202, 250);
}

.container {
    border: 2px solid red;
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    border-radius: 10px;
    background: black;
    color: #fff;
}

h2 {

}

button {
    padding: 5px;
    font-size: 25px;
    border-radius: 10px;
}

.aumentar {
    color: #fff;
    border: 2px solid rgb(0, 106, 103);
    background-color: rgb(167, 227, 153);
}

.diminuir {
    color: #fff;
    border: 2px solid rgb(220, 20, 60);
    background-color: rgb(247, 82, 112);
}